/* https://colorhunt.co/palette/222831393e4600adb5eeeeee */

/* GENERAL */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #fffffe;     
  --secondary-color: #231942;   
  --accent-color-1: #001427;     
  --accent-color-2: #007ea7;    
  --accent-color-3: #00a8e8;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--primary-color);
}

html {
  scroll-behavior: smooth;
}

p {
  color: var(--accent-color-1);
}

/* TRANSITION */

a,
.btn {
  transition: all 300ms ease;
}

/* DESKTOP NAV */

nav, .nav-links {
  display: flex;
}

nav {
  justify-content: space-around;
  align-items: center;
  height: 17vh;
  background-color: var(--secondary-color);
}

.nav-links {
  gap: 2rem;
  list-style: none;
  font-size: 1.5rem;
}

a {
  color: var(--primary-color);
  text-decoration: none;
  text-decoration-color: var(--primary-color);
}

.contact-click {
  color: var(--accent-color-3);
  text-decoration: none;
}

.contact-click:hover {
  color: var(--secondary-color);
  text-decoration: none;
} 

a:hover {
  color: var(--accent-color-3);
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: var(--accent-color-3);
}

.logo {
  font-size: 1.8rem;
  font-weight: 400;
  margin-bottom: 24px;
  color: var(--primary-color);
}

.logo > img {
  width: 40px;
  height: 40px;
  margin-top: 12px;
}

.logo:hover {
  cursor: default;
}

/* HAMBURGER MENU */

#hamburger-nav {
  display: none;
}

.hamburger-menu {
  position: relative;
  display: inline-block;
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
}

.hamburger-icon span {
  width: 100%;
  height: 2px;
  background-color: var(--primary-color);
  transition: all 0.3 ease-in-out;
}

.menu-links {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: var(--secondary-color);
  width: fit-content;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3 ease-in-out;
}

.menu-links a {
  display: block;
  padding: 10px;
  text-align: center;
  font-size: 1.5rem;
  color: var(--primary-color);
  text-decoration: none;
  text-decoration-color: var(--primary-color);
  transition: all 0.3 ease-in-out;
}

.menu-links a:hover {
  color: var(--accent-color-3);
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: var(--accent-color-3);
}

.menu-links li {
  list-style: none;
}

.menu-links.open {
  max-height: 300px;
}

.hamburger-icon.open span:first-child {
  transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
  opacity: 0;
}

.hamburger-icon.open span:last-child {
  transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
  transform: none;
}

.hamburger-icon span:first-child {
  opacity: 1;
}

.hamburger-icon span:first-child {
  transform: none;
}

/* KEYFRAMES */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* SECTIONS */

section {
  padding-top: 3vh;
  height: auto; min-height: 80vh;
  margin: 0 8rem;
  box-sizing: border-box;
  min-height: fit-content;
}

.section-container {
  display: flex;
}

/* PROFILE SECTION */

#profile {
  display: flex;
  justify-content: center;
  gap: 5rem;
  height: 80vh;
}

.section__pic-container {
  display: flex;
  height: 400px;
  width: 400px;
  margin: auto 0;
}

.section__text {
  align-self: center;
  text-align: center;
}

.section__text p {
  font-weight: 600;
  color: var(--secondary-color);
}

.section__text__p1 {
  text-align: center;  
  font-size: 1.2rem;
}

.section__text__p2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.title {
  font-size: 3rem;
  text-align: center;
  color: var(--accent-color-3);
  opacity: 0;
  transition: opacity 2s
}

#socials-container {
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
  gap: 1rem;
}

/* ICONS */

.icon {
  cursor: pointer;
  height: 2rem;
}

/* BUTTONS */

.btn-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.btn {
  font-weight: 600;
  transition: all 300ms ease;
  padding: 1rem;
  width: 8rem;
  border-radius: 2rem;
}

.btn-color-1,
.btn-color-2 {
  border: var(--accent-color-3);
}

.btn-color-1:hover,
.btn-color-2:hover {
  cursor: pointer;
}

.btn-color-1,
.btn-color-2:hover {
  background: var(--accent-color-3);
  color: var(--primary-color);
}

.btn-color-1:hover {
  background: rgb(0, 0, 0);
}

.btn-color-2 {
  background: var(--accent-color-3);
  color: var(--primary-color);
}

.btn-color-2:hover {
  border: var(--accent-color-3) 0.1rem solid;
}

.btn-container {
  gap: 1rem;
}

.contact-button {
  display: flex;
  align-items: center;
  padding: 0 2px;
  color: var(--secondary-color);
  border: none;
  border-radius: 5px;
  text-decoration: none;
  transition: background 0.3s ease;
}

.arrow-submit:hover {
  color: var(--accent-color-3);
  text-decoration-color: var(--accent-color-3);
}

.contact-button > p {
  color: var(--accent-color-1);
  text-decoration-color: var(--accent-color-1);
}

.contact-button > p:hover {
  color: var(--accent-color-3);
  text-decoration-color: var(--accent-color-3);
}

.contact-button img {
  margin-right: 10px;
}

.contact-button span {
  font-size: 24px;
  vertical-align: middle;
  color: var(--accent-color-1);
}

.arrow-button {
  position: fixed;
  z-index: 50;
  bottom: 0;
  right: 0;

  margin: 20px;
}

.arrow-button button {
  background-color: var(--accent-color-3);
  color: var(--primary-color);
  border: none;
  border-radius: 50%; 
  width: 46px; 
  height: 46px; 
  font-size: 22px; 
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  margin-bottom: 20px;
}

.arrow-button button:hover {
  background-color: var(--secondary-color); 
  color: var(--primary-color);
}


/* ABOUT SECTION */
#about {
  position: relative;
}

.about-containers {
  gap: 2rem;
  margin-bottom: 2rem;
}

.about-details-container {
  justify-content: center;
  flex-direction: row;
}

.about-containers,
.about-details-edu-container {
  display: flex;
}

.about-pic {
  border-radius: 2rem;
}

.details-edu-container {
  padding: 1.5rem;
  flex: 1;
  background: var(--secondary-color);
  border-radius: 2rem;
  border: var(--secondary-color);
  border-color: var(--secondary-color);
  text-align: center;
  color: var(--primary-color);
}

.details-edu-container > .edu-text {
  margin-top: 4px;
  color: var(--primary-color);
}

.section-container {
  gap: 4rem;
  height: 32%;
  margin-top: 6rem;
}

.text-container {
  padding: 1.5rem;
  flex: 1;
  background: var(--secondary-color);
  border-radius: 2rem;
  border: var(--secondary-color);
  border-color: var(--secondary-color);
  text-align: center;
  color: var(--primary-color);
}

.text-container > .about-text {
  text-align:justify;
  margin-top: 4px;
  color: var(--primary-color);
}

/* SKILLS SECTION */

#skills {
  position: relative;
  margin-top: 8rem;
}

.about-containers {
  margin-top: 4rem;
}
.skills-containers {
  gap: 2rem;
  margin-bottom: 2rem;
}

.skills-details-container {
  justify-content: center;
  flex-direction: row;
}

.details-prog-container {
  padding: 1.5rem;
  flex: 1;
  background: var(--secondary-color);
  border-radius: 2rem;
  border: var(--secondary-color);
  border-color: var(--secondary-color);
  text-align: center;
  color: var(--primary-color);
}

.details-other-container {
  padding: 1.5rem;
  flex: 1;
  background: var(--secondary-color);
  border-radius: 2rem;
  border: var(--secondary-color);
  border-color: var(--secondary-color);
  text-align: center;
  color: var(--primary-color);
}

.skills-sub-title {
  color: var(--primary-color);
  font-weight: 600;
  font-size: 1.75rem;
  margin-bottom: 2rem;
}

.skills-details-container {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.article-container {
  display: flex;
  text-align: initial;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 3rem;
  justify-content: space-around;
}

article {
  display: flex;
  width: 10rem;
  gap: 0.5rem;
  font-size: 14px;

}

.skills-percen {
  color: var(--primary-color);
}

article .icon {
  cursor: default;
}

/* PROJECTS SECTION */

#projects {
  position: relative;
  margin-top: 8rem;
}

.project-container {
  padding: 1.5rem;
  flex: 1;
  background: var(--secondary-color);
  border-radius: 2rem;
  border: var(--secondary-color);
  border-color: var(--secondary-color);
  text-align: center;
  height: 360px;
  margin-top: 80px;
}

.color-container {
  border-color: var(--secondary-color);
  background: var(--secondary-color);
}

.project-img {
  border-radius: 0.5rem;
  width: 90%;
  height: 90%;
}

#CodeVoyage {
  height: 40%;
  width: 42%;
}


#Bookshelf {
  width: 62%;
}

.project-title {
  margin: 1rem;
  color: var(--primary-color);
}

.project-btn {
  color: var(--primary-color);
  border-color: var(--secondary-color);
}

/* CONTACT */

#contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 60vh;
}

.contact-info-upper-container {
  display: flex;
  justify-content: center;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  background: (250, 250, 250);
  margin: 2rem auto;
  padding: 0.5rem;
}

.contact-info-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin: 1rem;
}

.contact-info-container p {
  font-size: larger;
}

.contact-icon {
  cursor: default;
}

.email-icon {
  height: 2.5rem;
}

/* FOOTER SECTION */

footer {
  height: auto;
  padding: 2rem;
  margin: 0;
  background-color: var(--secondary-color);
}

footer p {
  text-align: center;
  color: var(--primary-color);
}

/* MEDIA QUERY */
@media screen and (max-width: 1400px) {
  #profile {
    height: 83vh;
    margin-bottom: 60px;
  }

  .details-container,
  .details-other-container {
    flex-direction: column;
  }


  .details-edu-container {
    margin-top: 30px;
  }

  .details-container {
    width: 100%;
  }

  #contact, #projects {
    height: fit-content;
  }
}

@media screen and (max-width: 1200px) {
  #navbar {
    display: none;
  }

  #hamburger-nav {
    display: flex;
  }

  #skills, #projects, #contact {
    height: fit-content;
    margin: 30px;
  }

  #profile, .section-container {
    display: block;
  }

  section, .section-container {
    height: fit-content;
  }


  section {
    margin: 0 5%;
  }

  .details-container,
  .details-other-container {
    flex-direction: column;
  }
  
  .section__pic-container {
    width: 275px;
    height: 275px;
    margin: 0 auto 2rem;
  }

  .about-containers {
    flex-direction: column;
  }

  .details-container {
    width: 260px;
    height: fit-content;
    flex-direction: row;
  }

  .details-container {
    margin-top: 0;
  }

  .project-container {
    margin-top: 0;
  }
}

@media screen and (max-width: 600px) {
  #contact, footer {
    height: 40vh;
  }

  #profile {
    height: 83vh;
    margin-bottom: 0;
  }
  
  article {
    font-size: 12px;
  }

  footer {
    height: fit-content;
    margin-bottom: 2rem;
  }

  .details-container,
  .details-other-container {
    display: block;
  }

  .details-container, .contact-info-upper-container, .btn-container {
    flex-wrap: wrap;
  }

  .contact-info-container {
    gap: 4px;
  }

  .contact-info-container p {
    font-size: 16px;
  }

  .skills-sub-title {
    font-size: 1.25rem;
  }

  .logo {
    font-size: 1.5rem;
    margin-top: 20px;
  }

  .nav-links {
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
  }

  .section__pic-container {
    width: auto;
    height: 46vw;
    justify-content: center;
  }

  .section__text__p2 {
    font-size: 1.25rem;
  }

  .title {
    font-size: 2rem;
  }
  
  .about-text {
    text-align: justify;
  }
}

@media screen and (max-width: 400px) {
  .btn-color-2 {
    width: 6rem;
    padding: 0.5rem;
    height: 2.5rem;
  }
  
}